body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: rgb(147, 148, 150);
}

header {
  width: 100%;
  height: 60px;
  background-color: #e7e5e47a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(235, 232, 232);
}

header ul {
  display: flex;
  list-style: none;
  box-sizing: border-box;
}

header ul li > * {
  display: block;
  text-decoration: none;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

.wrapper > * {
  padding: 5px;
  margin: 10px;
  flex: 1 100%;
}

.side {
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 40px;
  flex-wrap: wrap;
}

.select-main {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 20px;
}

.select-side {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 10px;
}


.btn-buy {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #282828;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.child-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 225px;
  height: 225px;
  gap: 10px;
  border: 1px solid black;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/mouse.jpg");
  background-size: cover;
  object-fit: cover;
  border-radius: 30px;
}

.child-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 225px;
  height: 225px;
  gap: 10px;
  border: 1px solid black;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/keyboard.jpg");
  background-size: cover;
  object-fit: cover;
  border-radius: 30px;
}

.child-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 225px;
  height: 225px;
  border: 1px solid black;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/printer.jpg");
  background-size: cover;
  object-fit: cover;
  border-radius: 30px;
}

.child-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 225px;
  height: 225px;
  border: 1px solid black;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/others.jpg");
  background-size: cover;
  object-fit: cover;
  border-radius: 30px;
}

.main {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(57, 56, 58, 0.103)),
    url("./assets/main.jpg");
  background-size: cover;
  background-position: center; 
}

button:hover {
  background-color: white;
  color: black;
}

.product-header {
  height: 10px;
  padding: 2px;
}
.products-layer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 40px 0 40px;
  gap: 20px;
}

.product-cards {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  gap: 3px;
  transition: 0.5s ease;
}

.product-cards:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: scale-down;
}

.detail-image {
  height: 60vh;
}


.font-big {
  font-size: 50px;
}

.font-bold {
  font-weight: bold;
}

.font-thin {
  font-weight: 400;
}

.font-logo {
  font-size: 24px;
}

.font-small {
  font-size: 14px;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-gray {
  color: gray;
}

.mt-5 {
  margin-top: 50px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-sm-5 {
  margin-top: 5px;
}

.text-center {
  text-align: center;
}

.ms-5 {
  margin-left: 50px;
}

.me-5 {
  margin-right: 50px;
}

.me-lg-5 {
  margin-right: 150px;
}

